{
  "extends": [
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "no-undef": [ 1 ],
    "react-hooks/rules-of-hooks": 'error',
    "react-hooks/exhaustive-deps": 'warn',
    "comma-dangle": ["error", "never"],
    "max-len": ["error", 120],
    "no-unused-vars": ["error", { "args": "none" }],
    "react/prop-types": "off",
    "semi": ["error", "never"],
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/self-closing-comp": 0,
    "react/jsx-filename-extension": 0
  },
  globals: {
    "document": true,
    "jest": true,
    "window": true,
    "expect": true,
    "Promise": true,
    "it": true,
    "fetch": true,
  }

}
