{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "no-undef": [ 1 ],
    "react-hooks/rules-of-hooks": 'error',
    "react-hooks/exhaustive-deps": 'warn'
  },
  "globals": {
    "it": true,  
    "fetch": true,  
    "Promise": true,
    "expect": true,
    "jest": true,
    "document": true,
    "window": true,
  }
}
