.essayEditor {
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px;
    height: 200px;
}

.word {
    position: relative;
}
.not_set {
    color: inherit;
}
.noun {
    color: blue;
}
.verb {
    color: green;
}
.adjective {
    color: red;
}
.adverb {
    color: orange;
}
.pronoun {
    color: lightgreen;
}
.preposition {
    color: lightblue;
}
.conjunction {
    color: pink;
}
.interjection {
    color: brown;
}
.numeral {
    color: darkgray;
}
.article {
    color: purple;
}
.determiner {
    color: yellow;
}

.word:hover .baloon{
    display: block;
}

.baloon {
    display: none;
    position: absolute;
    top: 20px;
    background: #ccc;
    color: #fff;
    padding: 5px 10px;
    overflow: hidden;
    width: 300px;
}
